@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('./font/css/panchang.css');

:root {
  --color-bg-primary: #0F0B0A;
  --color-bg-secondary: #100f0f; /* Slightly lighter shade of the primary black */
  --color-text-main: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Panchang-Variable', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-main);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* --- Global Custom Scrollbar --- */
/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #333333 #0a0a0a;
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff1a1a; /* Adds a nice subtle brand color touch on hover */
}
