@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('./font/css/panchang.css');

:root {
  --color-bg-primary: #0F0B0A;
  --color-bg-secondary: #100f0f; /* Slightly lighter shade of the primary black */
  --color-text-main: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Panchang-Variable', sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-main);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
